@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ASDF asdfasdfasgadfgasdf!</h1>
    <a href="http://google.com">Visit Google</a>

</div>
